.whole-contener{
   width: 100%;
   margin: 0;
   padding: 0;
 }
 .square-one{
    background-image: url(././/Restaurant/background.png) ;
    width: 100%;
    height: 100%;
    padding: 0px 0px 170px 0px;
}
.glow-image{
    position: absolute;
    margin-left: 430px;
    margin-top: -150px;
}
.burger-items{
    float: left;
}
.home-menu-frites-container{
    float: right;
    margin-top: -200px;
}
.its-burger-week-container{
    margin-top: 90px;
    margin-left: -19px;
    align-items: center;
}
.logo-burger{
    width: 305px;
    margin-left: 39px;
    display: flex;
    margin-top: 65px;
    font-size: 35px;
    font-family: 'bebas neue';
}
.burger-house{
    margin-left: 20px;
}
.home-menu-our-contact-container{
    width: 600px;
    margin-right: -34px;
    float: right;
}
.home-menu-our-contact-container a{
    text-decoration: none;
    color: #382306 ;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#home{
    margin-right: 45px;
}
#menu{
    margin-right: 45px;
}
#our-story{
    margin-right: 45px;
}
.moto-express{
    text-align: center;
    display: flex;
    width: 500px;
    margin-left: 1100px;
    margin-top: -255px;
}
.logo-moto {
    margin-top: -2px;
    margin-right: -219px;
    margin-left: 95px;
}
.express-delivered{
    padding: 0px 30px;
    font-size: 18px;
    color: #3c1d22;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    margin-left: 200px;
}
.dashed-square{
    margin-left: 60px;
    font-family:'bebas neue';
    border: 2px solid black;
    padding: 8px 18px;
    border-style:dashed;
    font-size: 22px;
    color: #40210f;
    display: inline-block;
    margin-top: 90px;
}
.burger{
    margin-left: 55px;
    font-family:'Alfa Slab One';
    color: #3c2513;
    text-shadow: 4px 4px 0px  white;
    margin-top: -4px;
    font-size: 110px;
    font-weight: bolder;
}
.week{
    margin-left: 58px;
    font-family: 'Alfa Slab One';
    margin-top: -28px;
    text-shadow: 4px 4px 0px white;
    color: #3c2513;
    font-size: 50px;
    font-weight: bolder;
}
.frites{
    position: relative;
    margin-top: -25px;
    margin-left: 400px;  
}
.drinks-frites {
    margin-left: 550px;
    margin-top: 160px;
}
.square-two{
    display: flex;
    padding-top: 40px;
    margin: auto;
    width: 100%;
    justify-content: center;
}
#square-two-first-burger{ 
    margin-top: 35px;
    position: relative;
    margin-left: 0px;
}
#first-burger{
    border-radius: 8px;
}
#try-it{
    margin-top: 25px;
    font-size: 25px;
    font-family:'bebas neue';
    color: white;
    margin-left: 20px;
    position: absolute;
}
#most-popular{
    margin-top: 50px;
    font-size: 40px;
    font-family:'bebas neue';
    color: white;
    margin-left: 20px;
    position: absolute;
}
.square-two-small-burgers{
    margin-top: 10px;
    margin-left: 40px;
}
#burg-one{
    margin-top: 25px;
    padding-bottom: 5px;
    position: relative;
}
#first-small-burger{
    border-radius: 8px;
}
#burg-one-title{
    position: absolute;
    font-size: 25px;
    font-family:'bebas neue';
    color: white;
    margin-left: 19px;
    margin-top: 15px;
}
#burg-one-first-writing{
    position: absolute;
    font-family:'bebas neue';
    color: white;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 40px;
}
#burg-one-second-writing{
    position: absolute;
    font-family:'bebas neue';
    color: white;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 80px;
}
#burg-two{margin-top: 25px;
    position: relative;
}
#second-small-burger{
    margin-top: 20px;
    border-radius: 8px;
}
#burg-two-first-writing{
    position: absolute;
    font-size: 25px;
    font-family:'bebas neue';
    color: white;
    margin-left: 19px;
    margin-top: 25px;
}
#burg-two-second-writing{
    position: absolute;
    font-family:'bebas neue';
    color: white;
    font-size: 40px;
    margin-left: 20px;
    margin-top: 50px;
}
.square-three{
    height: 320px;
    margin-left: 300px;
   width: 100%;
    margin: auto;
    text-align: center;
}
#square-three-simple-title{
    background-color:#fec047 ;
    color: #3c2513;
    font-size: 27px;
    font-family: 'bebas neue';
    padding: 10px 30px;
    margin-top: 55px;
    display: inline-block;
}
#square-three-bold-title{
    font-weight: bold;
    font-family:'Alfa Slab One' ;
    color: #3c2513;
    margin-top: 27px;
    font-size: 50px;
    color: #3c2513;
}
#square-three-lorem{
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin: auto;
    width: 1050px;
    color: #412a18;
}
#img1{
    margin-right: 10px;
}
#img3{
    margin-left: -5px;

}
.square-four{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: space-around;
}
#lorem-div{
    font-weight: bold;
    margin-left: 70px;
    font-size: 35px;
    font-family: 'bebas neue';
    color:#3c2513 ;
}
.square-four-first-div{
    font-size: 21px; 
    margin-top: 40px;
    width: 450px;
    color: #0f1111;
    text-align: center;
}
.square-four-second-div{
    text-align: center;
    margin-top: 0px;
    width: 450px;
    color: #0f1111;
    text-align: center;
 }
 .square-four-third-div{
    text-align: center;
    font-size: 21px; 
    margin-top: 40px;
    width: 450px;
    color: #0f1111;
 }
 #square-four-img{
    width: 450px;
 }
#square-four-title{
   font-family: 'bebas neue';
   color: #382306;
   font-weight: bold;
   font-size: 30px;
}
#square-four-lorem{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #382306;
    font-size: 21px;
}
#square-four-button button{
    margin-top: 40px;
    padding: 9px 30px;
    border: none;
    color: #ffffff;
   font-weight: bold;
   font-family: 'Alfa Slab One';
    background-color: red;
}
.square-five{
    margin: auto;
    width: 100%;
    margin-top: -20px;
    text-align: center;
}
.square-five-container{
    background-color:white;
    width: 90%;
    height: 470px;
    margin: auto;
    display: flex;
    box-shadow: 6px 9px 12px 2px rgb(222, 212, 221);
}
.square-five-first-img{
    margin-top: 25px;
}
#DISCOVER{
    color: #3c2513;
    font-size: 22px;
    float: left;
    margin-top: -100;
    margin-left: 60px;
    font-family: 'bebas neue';
}
.three-small-circles{
    width: 60px;
    margin-top: 90px;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
}
#three-first-small-circle{
    width: 10px;
    border-radius: 50%;
    padding: 7px 2px;
    background-color: yellow;
}
#three-second-small-circle{
    width: 10px;
    border-radius: 50%;
    padding: 7px 2px;
    background-color: #cdcdcd;
}
#three-third-small-circle{
    width: 10px;
    border-radius: 50%;
    padding: 7px 2px;
    background-color: #cdcdcd;
}
.discover-upcoming-container{
    height: 600px;
    width: 600px;
}
#upcoming{
    font-weight: bold;
    color: #3c2513;
    text-align: justify;
    font-family:'Alfa Slab One';
    width: 600px;
    margin-top: -80px;
    font-size: 2.8em;
    float: left;
    margin-left: 60px;
}
.square-five-lorem{
    width: 500px;
    margin-top: 150px;
    line-height: 35px;
    margin-left: 60px;
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 21px;
}
.square-six{
    margin: auto;
    width: 100%;
    margin-top: 90px;
    text-align: center;
}
h2{
 margin-left: 70px;
 color: #3a1f0a;
font-family: 'bebas neue';
}
#book-your-table-container h1{
    font-size: 50px;
    color: #3c2513;
    position: relative;
    margin-top: -20px;
    margin-bottom: 40px;
    font-weight: bold;
    margin-left: 95px;
    font-family:'Alfa Slab One';
}
.form{
 margin: auto;
 margin-left: 50px;
}
input{
    color:black;
    padding: 20px 180px 12px 20px;
    font-size: 20px;
    margin-right: 15px;
    margin-top: 24px;
    font-family: 'bebas neue';
    border-radius: 4px;
}
.button1{
    font-size: 20px;
    border-radius: 4px;
    font-family: 'Alfa Slab One';
    color:white;
    margin-right: 15px;
    border: none;
    margin-top: -64px;
    padding: 16px 107px;
    background-color: red;
}
.burg{
    height: 180px;
    margin-top: -50px;
    position: absolute;
    border-radius: 50%;
    width: 180px;
}
.burg img{
    float: left;
    height: 180px;
    margin-left: -10px;
}
.plat-botle-container{
    margin-top: -150px;
    height: 200px;
}
.botle img{
    margin-top: -90px;
    height:240px;
    margin-left: 150px;
    float: left;
}
.plat img{
    height:320px;
    margin: auto;
}
.plat{
    width: 215px;
    height: 330px;
    float: right;
    margin-bottom: -10px;
    margin-top: -60px;
    overflow: hidden;
}
.square-seven{
    margin: auto;
    overflow: hidden;
    padding-bottom: 65px;
    width: 100%;
    text-align: center;}
#last-images{
    margin-top: 250px;
    width: 1050px;
    position: relative;
}

#square-seven-restaurant-logo{
    color: white;
    position: absolute;
    margin-top: 85px;
    margin-left: 45px;
}
#burger-house{
    position: absolute;
    font-family: 'bebas neue';
    font-size: 60px;
    margin-top: 98px;
    margin-left: 170px;
    color: white;
}
#square-seven-lorem{
    color:#fffcfd;
    text-align: left;
    position: absolute;
    font-size: 20px;
    width: 560px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 214px;
    margin-left: 50px;
}
#Restaurant-email{
    position: absolute;
    margin-top: 287px;
    margin-left: 913px;}
#info-company-name{
    margin-left: 38px;
    position: absolute;
    margin-right: -300px;
    font-size: 20px;
    font-family: 'bebas neue';
    color: white;
}
#company-copyright{
    position: absolute;
    margin-top: 460px;
    color:white ;
    font-size: 16px;
    font-family: 'bebas neue';
    margin-left: 50px;
}
#social-links{
        display: flex;
        justify-content:space-between ;
        margin-left: 1130px;
        width: 160px;
        height: 50px;
        position: absolute;
        margin-top: 450px;
}
#social-links a img{
height: 30px;
}
#Restaurant-localisation{
    position: absolute;
    margin-top: 235px;
    margin-left: 913px;
}
#main-road-building-name-country{
    margin-left: -5px;
    width: 300px;
    position: absolute;
    color: white;
    margin-bottom:100px;
    font-size: 20px;
    font-family:'bebas neue';
}